{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <title>GIT</title>
    <link rel="stylesheet" href="{% static 'helloworld/style.css' %}">
    <link rel="stylesheet" href="{% static 'helloworld/sbuttons.min.css' %}">

</head>

<body>
    <h1>HELLO CHOOSE YOUR ACTIVITY FOR TODAY</h1>
    <div id="tlo_przyciskow">

        <a href="{% url 'Fischlein:index' %}">
            <div>Fischlein</div>
        </a>
        <a href="{% url 'Nowyrok:index' %}">
            <div> nowy rok </div>
        </a>
        <a href="{% url 'lotnisko:index' %}">
            <div> lotnisko </div>
        </a>
        <a href="{% url 'tasks:index' %}">
            <div> tasks </div>
        </a>

    </div>

</body>

</html>