h1 {
  margin: 20px;
}

body {
  background-color: #383838;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}


#main {
  display: flex;
  flex-direction: column;
  background-color: #25c6ef;
}

button {
  width: 60px;
  height: 60px;
  background-color: yellow;
  color: purple;
  margin: 5px;
}


.pasek {
  display: flex;
  flex-direction: row;
  height: 100px;
  width: 500px;
  background-color: grey;
  margin: 10px;
}


#licznik,
#dioda,
select {
  width: 60px;
  height: 60px;
  background-color: blue;
  margin: 5px;
}